<div class="container">
    <div class="row text-center">
        <h1>Administration</h1>
        <p>Edit Menu</p>
    </div>
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
    
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/offerlist" class="nav-link px-2 link-secondary">Offers</a></li>
        <li><a href="/admin" class="nav-link px-2 link-dark">New Offer</a></li>
        <li><a href="/editMenu" class="nav-link px-2 link-dark">Edit Menu</a></li>  
      </ul>

<button class="btn btn-primary mt-2">New</button>

<!--New Menu Item Start-->
<div class="row">
    <form action="/submitMenuItem" enctype="multipart/form-data" method="POST">
        <div class="submitMenuItem-form">
            <label for="name">Name</label>
            <input required type="text" name="name" id="name" class="form-control"> 
            
            <label for="description">Description</label>
            <textarea required name="description" id="description" class="form-control"> </textarea>

            <select class="form-select form-control" name="category" aria-label="Category" required>
                <option selected>Select Category</option>
                <option value="Pizza">Pizza</option>
                <option value="Garlic Bread">Garlic Bread</option>
                <option value="Sides">Sides</option>
                <option value="Drinks">Drinks</option>
                <option value="Misc">Misc</option>
            </select>
 
            <label for="vegitarian">Vegitarian</label>
            <input class="checkbox" type="checkbox" name="vegitarian" id="vegitarian" class="form-control"> 

            <label for="vegan">Vegan</label>
            <input class="checkbox" type="checkbox" name="vegan" id="vegan" class="form-control"> 
 
            <label for="price">Price</label>
            <input required type="text" name="price" id="price" class="form-control">

            <label for="image">Image</label>
            <input required type="file" name="image" id="image" class="form-control"> 
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"> <!--Checks that the csrf token has been submitted correctly-->
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
         </div>
    </form>
</div>

<!--Menu Item List Start-->
<h3>Current Menu Items</h3>
<div class="row">
    <% menuItems.forEach(function(menuItems){ %>  
        <div class="col-4">           
            <p>Name: <%=menuItems.name %></p> 
            <p>Description: <%=menuItems.description %></p>   
            <p>Category: <%=menuItems.category %></p>
            <p>Vegitarian:<%=menuItems.vegitarian %></p> 
            <p>Vegan: <%=menuItems.vegan %></p> 
            <p>Price: <%=menuItems.price %></p> 
        </div>
        <div class="col-4">
            Image
        </div>
        <div class="col-4">           
            <button class="btn btn-primary mt-2">Edit</button>
            <button class="btn btn-primary mt-2">Delete</button>
        </div>
    <% })%>

</div>

</div>