<div class="container">
    
    <header>
        <h1>Menu</h1>
        
        <p>When you see these icons
            <img src="/img/vegicon.png" class="vegicon" alt="Vegitarian"> Vegitarian 
            <img src="/img/veganicon.png" class="vegicon" alt="Vegan"> Vegan
        </p>
    </header>

    <h3 class="menu-header">Pizzas</h3>
    <hr>
    
    <div class="row">        
        <% menuItemsPizza.forEach(function(menuItemsPizza){ %>                
            <h5><%=menuItemsPizza.name %></h5>
                           
            <div class="col-6 col-sm-4 col-md-6 col-lg-6">            
                <p><%=menuItemsPizza.description %>

                <% if (menuItemsPizza.vegan == true) { %>
                <img src="/img/veganicon.png" class="vegicon" alt="Vegan">                
                <% } %>

                <% if (menuItemsPizza.vegitarian == true) { %>
                <img src="/img/vegicon.png" class="vegicon" alt="Vegitarian">              
                <% } %>
                </p>
            </div>

            <div class="col-2 col-sm-1 col-md-1 col-lg-1">
                <span>£<%=menuItemsPizza.price.toFixed(2) %></span>               
            </div>

            <div class="col-2 col-sm-4 col-md-2 col-lg-3">
                <img src="/uploads/<%=menuItemsPizza.image %>" alt="<%=menuItemsPizza.name %>" width="150px" class="img-fluid">
            </div>

            <div class="col-2 col-sm-3 col-md-3 col-lg-2">
                <form action="/addToCart/<%=menuItemsPizza.id %>/<%=menuItemsPizza.name %>/<%=menuItemsPizza.price %>" method="POST">   
                    <label for="qty" class=" d-none d-sm-inline">Qty</label>
                    <input type="text" name="qty" id="qty" style="width: 45px;" class="mb-1">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>"> <!--Checks that the csrf token has been submitted correctly-->
                    <button class="btn btn-primary" style ="height: 35px;">Add</button>
                </form>                
            </div> 
        <% }) %>
       
    </div>

        <h3 class="menu-header">Garlic Bread</h3>
        <hr>
    
    <div class="row">
        
        <% menuItemsGarlic.forEach(function(menuItemsGarlic){ %>                
            <h5><%=menuItemsGarlic.name %></h5>
                           
            <div class="col-6 col-sm-4 col-md-6 col-lg-6">            
                <p><%=menuItemsGarlic.description %>

                <% if (menuItemsGarlic.vegan == true) { %>
                <img src="/img/veganicon.png" class="vegicon" alt="Vegan">                
                <% } %>

                <% if (menuItemsGarlic.vegitarian == true) { %>
                <img src="/img/vegicon.png" class="vegicon" alt="Vegitarian">              
                <% } %>
                </p>
            </div>

            <div class="col-2 col-sm-1 col-md-1 col-lg-1">
                <span>£<%=menuItemsGarlic.price.toFixed(2) %></span>               
            </div>

            <div class="col-2 col-sm-4 col-md-2 col-lg-3">
                <img src="/uploads/<%=menuItemsGarlic.image %>" alt="<%=menuItemsGarlic.name %>" width="150px" class="img-fluid">
            </div>

            <div class="col-2 col-sm-3 col-md-3 col-lg-2">
                <form action="/addToCart/<%=menuItemsGarlic.id %>/<%=menuItemsGarlic.name %>/<%=menuItemsGarlic.price %>" method="POST">   
                    <label for="qty" class=" d-none d-sm-inline">Qty</label>
                    <input type="text" name="qty" id="qty" style="width: 45px;" class="mb-1">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>"> <!--Checks that the csrf token has been submitted correctly-->
                    <button class="btn btn-primary" style ="height: 35px;">Add</button>
                </form>                
            </div> 
        <% }) %>
       
    </div>



        <h3 class="menu-header">Sides</h3>
        <hr>    
        <div class="row">        
        <% menuItemsSides.forEach(function(menuItemsSides){ %>                
            <h5><%=menuItemsSides.name %></h5>
                           
            <div class="col-6 col-sm-4 col-md-6 col-lg-6">            
                <p><%=menuItemsSides.description %>

                <% if (menuItemsSides.vegan == true) { %>
                <img src="/img/veganicon.png" class="vegicon" alt="Vegan">                
                <% } %>

                <% if (menuItemsSides.vegitarian == true) { %>
                <img src="/img/vegicon.png" class="vegicon" alt="Vegitarian">              
                <% } %>
                </p>
            </div>

            <div class="col-2 col-sm-1 col-md-1 col-lg-1">
                <span>£<%=menuItemsSides.price.toFixed(2) %></span>               
            </div>

            <div class="col-2 col-sm-4 col-md-2 col-lg-3">
                <img src="/uploads/<%=menuItemsSides.image %>" alt="<%=menuItemsSides.name %>" width="150px" class="img-fluid">
            </div>

            <div class="col-2 col-sm-3 col-md-3 col-lg-2">
                <form action="/addToCart/<%=menuItemsSides.id %>/<%=menuItemsSides.name %>/<%=menuItemsSides.price %>" method="POST">   
                    <label for="qty" class=" d-none d-sm-inline">Qty</label>
                    <input type="text" name="qty" id="qty" style="width: 45px;" class="mb-1">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>"> <!--Checks that the csrf token has been submitted correctly-->
                    <button class="btn btn-primary" style ="height: 35px;">Add</button>
                </form>                
            </div> 
        <% }) %>       
        </div>



        <h3 class="menu-header">Drinks</h3>
        <hr>    
        <div class="row">        
        <% menuItemsDrinks.forEach(function(menuItemsDrinks){ %>                
            <h5><%=menuItemsDrinks.name %></h5>
                           
            <div class="col-6 col-sm-4 col-md-6 col-lg-6">            
                <p><%=menuItemsDrinks.description %>

                <% if (menuItemsDrinks.vegan == true) { %>
                <img src="/img/veganicon.png" class="vegicon" alt="Vegan">                
                <% } %>

                <% if (menuItemsDrinks.vegitarian == true) { %>
                <img src="/img/vegicon.png" class="vegicon" alt="Vegitarian">              
                <% } %>
                </p>
            </div>

            <div class="col-2 col-sm-1 col-md-1 col-lg-1">
                <span>£<%=menuItemsDrinks.price.toFixed(2) %></span>               
            </div>

            <div class="col-2 col-sm-4 col-md-2 col-lg-3">
                <img src="/uploads/<%=menuItemsDrinks.image %>" alt="<%=menuItemsDrinks.name %>" width="150px" class="img-fluid">
            </div>

            <div class="col-2 col-sm-3 col-md-3 col-lg-2">
                <form action="/addToCart/<%=menuItemsDrinks.id %>/<%=menuItemsDrinks.name %>/<%=menuItemsDrinks.price %>" method="POST">   
                    <label for="qty" class=" d-none d-sm-inline">Qty</label>
                    <input type="text" name="qty" id="qty" style="width: 45px;" class="mb-1">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>"> <!--Checks that the csrf token has been submitted correctly-->
                    <button class="btn btn-primary" style ="height: 35px;">Add</button>
                </form>                
            </div> 
        <% }) %>       
        </div>




</div>

