

<div class="row text-center">
    <h1>Administration</h1>
    <p>Orders</p>
</div>
<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
  </a>

  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/orders" class="nav-link px-2 link-secondary">Orders</a></li>
    <li><a href="/offerlist" class="nav-link px-2 link-dark">Offers</a></li>
    <li><a href="/admin" class="nav-link px-2 link-dark">New Offer</a></li>
    <li><a href="/editMenu" class="nav-link px-2 link-dark">Edit Menu</a></li>  
  </ul>

<div class="row grid">
    <h2>Current Orders</h2>
    <hr>
    <div class="row" id="accordionExample">
      <%var a= 1%>

      <%orders.forEach(function(orders){ %>
        
            <div class="col-6">              
              <span class="badge bg-primary"><%=a%></span> Order ID: <%=orders._id %>
              <%=orders.user.email%>         
              <p><%=orders.name%></p> 
            </div> 

            <div class="col-6">
              <form action="/changeStatus/<%=orders._id %>" method="POST"> 
                  <select name="status" id="status" class="btn btn-secondary" style = "width: 150px;">
                    <% 
                      //Select the current status to show in the drop down
                      let options = ["pending","confirmed","cooking","fordelivery","onway","delivered"];
                      for (let i=0; i < options.length; i++)
                      {
                        let selected = (orders.status == options[i]) ? "selected" : ""; //simplfied syntax for if statement                        
                        %><option value="<%=options[i]%>" <%=selected%>><%=options[i]%></option><%
                      }
                    %> 
                  </select>

                  <input type="hidden" name="_csrf" value="<%=csrfToken%>"> <!--Checks that the csrf token has been submitted correctly-->
                  <button id="update-btn" type="submit" class="btn btn-secondary">Update</button>
                  <button class="deleteOrderbtn btn btn-secondary" id="deleteOrderbtn" data-id="<%=orders._id%>">Cancel</button>
              </form>  
              <%a=a+1%>            
            </div>
                     
            <div class="row">
              <ul>        
                <%items.forEach(function(items){ %>  
                    <li class="list-group-item"><span class="badge bg-secondary">   <%=items.qty%></span> <%=items.item.name%> <span class="badge bg-secondary">£<%=items.item.price%></span></li> 
                <%})%>
           
               
              </ul>
              <hr>
            </div>


      <%})%>   
     

    </div>


</div>

<script>

 //Cancel Order Confirmation

    //set delegated event listener up for container div that will listen for any click events within it
        const btn = document.querySelector(".grid").addEventListener("click",(e)=>{ 
        if (e.target.localName !== "button" || e.target.id =="update-btn") return; //if the click is not a button exit the function

        //If the click is a button set the id from the dataset 
        const deleteID = e.target.dataset.id;      

        //Pop up for are you sure - if yes then delete the record
        if (confirm("Are you sure?")) {  
        let fetchString = "/deleteOrder/" + deleteID
        fetch(fetchString, {method:'GET'});
        location.reload();     //Reload the current page 
        }    
    });     
    

</script>





